<%= search_form_for @q do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :user_id_eq, "First Name" %>
    <%= f.select :user_id_eq, options_from_collection_for_select(User.all, :id, :firstname, @q.user_id_eq), { :include_blank => true }, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id_eq, "Email" %>
    <%= f.select :user_id_eq, options_from_collection_for_select(User.all, :id, :email, @q.user_id_eq), { :include_blank => true }, :class => "form-control" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block" %>

<!--unsure about where the clear filters tab should direct the page? Refresh to same page> users/index?-->
  <a href="/users" class="btn btn-default btn-block">Clear filters</a>

<% end %>
