<%= search_form_for @q do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :title_cont, "Title containing" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
  </div>

  <div class="form-group">
    <%= f.label :year_gteq, "Released after" %>
    <%= f.text_field :year_gteq, :class => "form-control", :placeholder => "Year greater than or equal to" %>
  </div>

  <div class="form-group">
    <%= f.label :year_lteq, "Released before" %>
    <%= f.text_field :year_lteq, :class => "form-control", :placeholder => "Year less than or equal to" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>

  <a href="/movies" class="btn btn-default btn-block">Clear filters</a>
<% end %>
