

<div class="page-header">
  <h4 Bootstrap heading class="text-info"> <strong><em>
    My page
</em>  </strong></h4>

<div class="container">
<div class="row">
  <div class="col-md-2">
    <img src="<%= current_user.imageurl %>" class="img-rounded" width="80"/>
  </div>
  <div class="col-md-5">
    <h4 Bootstrap heading><strong> <em> <%= current_user.firstname %> <%= current_user.lastname %> </em>  </strong> </h4>
    <p> <em> <%= current_user.program %> Class of <%= current_user.gradyear %> </em>  </p>

    </div>
</div>
</div>
</div>

<div>
  <h4 Bootstrap heading class="text-info"> <strong><em>
  Feedback for me
  </em>  </strong></h4>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-responsive">
      <tr>
        <th>Name</th>
      <!--  <th>Description</th> -->
        <th>Collaboration</th>
        <th>Reliability</th>
        <th>Communication</th>
        <th>Committment</th>
        <th>TOTAL SCORE</th>
    <!--    <th>User</th> -->

        <th class="col-sm-2"> Actions</th>
      </tr>

      <% @receivedfbs.first(5).each do |critique| %>

      <tr>
        <td><strong><%= critique.name %></strong></td>
        <!-- <td><%= critique.description %></td> -->
          <td class="lead text-center"><strong><%= critique.metricone %></strong></td>
        <td class="lead text-center"><strong><%= critique.metrictwo %></strong></td>
        <td class="lead text-center"><strong><%= critique.metricthree %></strong></td>
        <td class="lead text-center"><strong><%= critique.metricfour %></strong></td>
      <td class="lead text-center"><strong><%= critique.metricfive %></strong></td>
      <!--  <td><%= critique.user_id %></td> -->
        <td>
          <a href="/critiques/<%= critique.id %>" class="btn btn-sm btn-primary">Show</a>
        <!--  <a href="/critiques/<%= critique.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_critique/<%= critique.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
      </tr>

      <% end %>
    </table>
  </div>
</div>
<hr>


  <div class="form-group">
      <a href="/users" class="btn btn-md btn-primary">Find Friends and Provide Feedback</a>
    </div>
    <hr>
    <div class="form-group">
      <h4 Bootstrap heading class="text-info"> <strong><em>
      Feedback provided by me
      </em>  </strong></h4>
    </div>



  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-responsive">
        <tr>
          <th>Name</th>
      <!--    <th>Description</th> -->
          <th>Collaboration</th>
          <th>Reliability</th>
          <th>Communication</th>
          <th>Committment</th>
          <th>TOTAL SCORE</th>
      <!--    <th>User</th> -->

          <th class="col-sm-2"> Actions</th>
        </div>
        </tr>

        <% @critiques.first(5).each do |critique| %>
        <tr>
          <td><strong><%= critique.name %></strong></td>
      <!--    <td><%= critique.description %></td> -->
          <td class="lead text-center"><strong><%= critique.metricone %></strong></td>
          <td class="lead text-center"><strong><%= critique.metrictwo %></strong></td>
          <td class="lead text-center"><strong><%= critique.metricthree %></strong></td>
          <td class="lead text-center"><strong><%= critique.metricfour %></strong></td>
          <td class="lead text-center"><strong><%= critique.metricfive %></strong></td>
        <!--  <td><%= critique.user_id %></td> -->
          <td>
            <a href="/critiques/<%= critique.id %>" class="btn btn-xs btn-primary">Show</a>
            <a href="/critiques/<%= critique.id %>/edit" class="btn btn-xs btn-warning">Edit</a>
            <a href="/delete_critique/<%= critique.id %>" class="btn btn-xs btn-danger" rel="nofollow">Delete</a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

</div>
