<!-- Validation failure messages -->
<% if @critique.errors.any? %>
<% @critique.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Provide Feedback</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_critique" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
<!-- ____________________________________________________________________________________________-->

  <div class="form-group">
<label for="user_id" class="control-label">
  <h5 Bootstrap heading><strong>
    Give feedback to:
  </strong>
  </h5>
</label>
<!-- ANiket added the next lines of code -->

  <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :firstname, @critique.user_id), :class => "form-control" %>

      <!-- Label and input for metricone -->
      <div class="form-group">
        <label for="metricone" class="control-label">
          <h5 Bootstrap heading><strong>
            Collaboration + Encouragement
          </strong>
        </h5>

        <p class="lead"> <em>
          Did the team member foster collaboration by enabling others to share ideas and take risks without feeling embarrassed or insecure?
        </em>
      </p>
    </label>

    <!--
    <input type="text" id="metricone" name="metricone" placeholder="Metricone" class="form-control" value="<%= @critique.metricone %>">
  </div>
-->
<select class="form-control" name="metricone">
  <option style="color:red">1</option>
  <option style="color:orange">2</option>
  <option style="color:purple">3</option>
  <option style="color:blue">4</option>
  <option style="color:green">5</option>
</select>

<!-- Label and input for metrictwo -->
<div class="form-group">
  <label for="metrictwo" class="control-label">
    <h5 Bootstrap heading><strong>
    Reliability
    </strong>
  </h5>

  <p class="lead"> <em>
    Could you count on the team member to attend meetings on time, seek out tasks and complete agreed work as per schedule?
  </em>
</p>
</label>

<select class="form-control" name="metrictwo">
<option style="color:red">1</option>
<option style="color:orange">2</option>
<option style="color:purple">3</option>
<option style="color:blue">4</option>
<option style="color:green">5</option>
</select>
<!-- ******************************** -->

<!-- Label and input for metricthree -->
<div class="form-group">
  <label for="metricthree" class="control-label">
    <h5 Bootstrap heading><strong>
    Structure + Communication
    </strong>
  </h5>
  <p class="lead"> <em>
    Did the team member clearly communicate about team goals, roles and execution?
  </em>
</p>
</label>

<select class="form-control" name="metricthree">
<option style="color:red">1</option>
<option style="color:orange">2</option>
<option style="color:purple">3</option>
<option style="color:blue">4</option>
<option style="color:green">5</option>
</select>



<!-- Label and input for metricfour -->
<div class="form-group">
  <label for="metricfour" class="control-label">
    <h5 Bootstrap heading><strong>
    Committment
    </strong>
  </h5>
  <p class="lead"> <em>
    Did the team member demonstrate committment to team objectives, and prioritize high quality outcomes?
  </em>
  </p>
  </label>

  <select class="form-control" name="metricfour">
  <option style="color:red">1</option>
  <option style="color:orange">2</option>
  <option style="color:purple">3</option>
  <option style="color:blue">4</option>
  <option style="color:green">5</option>
  </select>

  <!-- ******************************** -->


<!-- <div class="form-group">
  <label for="metricfive" class="control-label">
<hr>
    <h4 Bootstrap heading><strong>
    Total Score
      </strong>
  </h4>
  </label>
  <p>
    <%= @critique.metricfive %>
  </p>

</div> -->

<!--  <input type="text" id="metricfive" name="metricfive" placeholder="Metricfive" class="form-control" value="<%= @critique.metricfive %>">
-->
<!--< Label and input for name -->
<div class="form-group">
  <label for="name" class="control-label">
    <h5 Bootstrap heading><strong>
  Feedback title
</strong> </h5>
  </label>

  <textarea id="name" name="name" placeholder="Feedback Title" class="form-control" rows="3"><%= @critique.name %></textarea>
</div>


<!-- Label and input for description -->
<div class="form-group">
  <label for="description" class="control-label">
    <h5 Bootstrap heading><strong>
    Feedback Description
  </strong> </h5>
  </label>

  <textarea id="description" name="description" placeholder="Provide insights and specific examples ilustrating those insights. Use the space to reveal information about your self or the project in case you don't want the feedback to be anonymous" class="form-control" rows="3"><%= @critique.description %></textarea>
</div>

<!-- HIDDEN input for user_id -->
<!--<div class="form-group">
  <label for="user_id" class="control-label">
    <h5 Bootstrap heading><strong>
    Your user ID
  </strong> </h5>
  </label>
-->
  <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
<!--</div> -->


<button class="btn btn-success">
  Submit Feedback
</button>
or
<a href="/critiques">Cancel</a>
</form>
</div>
</div>
