<div class="page-header">
  <h3>Critique #<%= @critique.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Feedback Title</dt>
      <dd><%= @critique.name %></dd>

      <dt>Description</dt>
      <dd><%= @critique.description %></dd>

      <dt>Collaboration</dt>
      <dd>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= @critique.metricone %>"
          aria-valuemin="0" aria-valuemax="100" style="width:<%= @critique.metricone %>">
            <%= @critique.metricone %>
          </div>
        </div>
        </dd>

      <dt>Reliability</dt>
      <dd><%= @critique.metrictwo %></dd>

      <dt>Communication</dt>
      <dd><%= @critique.metricthree %></dd>

      <dt>Committment</dt>
      <dd><%= @critique.metricfour %></dd>

      <dt>Total Score</dt>
      <dd><%= @critique.metricfive %></dd>

    <!--  <dt>User</dt>
      <dd><%= @critique.user_id %></dd> -->


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/critiques" class="btn btn-primary">
        Back
      </a>
      <a href="/critiques/<%= @critique.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_critique/<%= @critique.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
